<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253539109830-e2bq76gq9jh10e51b06upf84tv8blkbj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253539109830-e2bq76gq9jh10e51b06upf84tv8blkbj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>253539109830-7ickndphvclctrfcrrmkf9qgngnb1n2u.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCVYce4dQwAmb5QTh8zMdLkysNvpWEdRxw</string>
	<key>GCM_SENDER_ID</key>
	<string>253539109830</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.gsportscenter.app</string>
	<key>PROJECT_ID</key>
	<string>g-sports-center</string>
	<key>STORAGE_BUCKET</key>
	<string>g-sports-center.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253539109830:ios:116ca594bfeba8fea800c7</string>
</dict>
</plist>